[submodule "src/free_fleet"]
	path = src/free_fleet
	url = https://github.com/open-rmf/free_fleet
[submodule "src/adhoc-simulations"]
	path = src/adhoc-simulations
	url = git@github.com:siot-decada-robotics/adhoc-simulations.git
	branch = devel
[submodule "src/rmf-packages"]
  path = src/rmf-packages
  url = https://github.com/siot-decada-robotics/rmf-packages.git
  branch = rmf_demos
